[submodule "cricketui"]
	path = cricketui
	url = git@gitlab-x.mcci.com:Seenivasan/cricketui.git
	branch = release2.0.0
[submodule "cricket"]
	path = cricket
	url = git@gitlab-x.mcci.com:Seenivasan/cricket.git
[submodule "Cricket"]
	path = Cricket
	url = https://github.com/mcci-usb/Cricket.git
